.solid-button > .text {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: "Poppins";
}

.solid-button {
  background-color: #1e6cff !important;
  border-radius: 30px !important;
  font-size: 25px !important;
  width: 100%;
  transition: background-color 0.3s;
}

.solid-button:hover {
  background-color: #1b61e6;
}
